<div class="container">
  <h1>Administración de artículos</h1>
  <br>
    <table class="table" *ngIf="hayRegistros(); else sinarticulos">
      <tr>

        <td>Codigo</td><td>Descripcion</td><td>Precio</td><td>Eliminar</td><td>Seleccionar</td>
      </tr>
      <tr *ngFor="let art of articulos">
        <td>{{art.codigo}}</td>
        <td>{{art.descripcion}}</td>
        <td>{{art.precio}}</td>
        <td><button class="btn btn-danger" (click)="baja(art.codigo)">Eliminar</button></td>
        <td><button class="btn btn-primary" (click)="seleccionar(art.codigo)">Seleccionar</button></td>
      </tr>
    </table>
    <ng-template #sinarticulos><p>No hay nada que mostrar</p></ng-template>
    <div class="form-group" >
        <div class="container">
            <p>
              Descripcion:<input class="form-control col-sm-4" type="text" [(ngModel)]="art.descripcion" />
            </p>
            <p>
              Precio:<input class="form-control col-sm-4" type="number" [(ngModel)]="art.precio" />
            </p>
            <p><button class="btn btn-danger" (click)="alta()">Agregar</button>
            <br><br>
            <button class="btn btn-success" (click)="modificacion()">Modificar</button></p>
          </div>
        </div>

</div>

